:root {
  /* font family */
  --poppins: "Poppins", sans-serif;
  --open-sans: "Open sans", sans-serif;

  /* primary colors */
  --pink-pc: hsl(322, 100%, 66%);
  --light-pink-pc: hsl(321, 100%, 78%);
  --light-red-pc: hsl(0, 100%, 63%);

  /* neutral colors */
  --very-dark-cyan-nc: hsl(192, 100%, 9%);
  --very-pale-blue-nc: hsl(207, 100%, 98%);

  /* padding of containers */
  --padding-container: 80px 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--open-sans);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: var(--padding-container);
}

.hero {
  min-height: 100vh;
  position: relative;
  --wave--bottom: url('./images/bg-section-top-mobile-1.svg');
}

.hero__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  --padding-container: 60px 0 45px;
}

.hero__logo {
  width: 45%;
  max-width: 160px;
}

.hero__huddle {
  width: 100%;
  display: block;
}

.hero__cta {
  color: var(--light-pink-pc);
  text-decoration: none;
  border: 2px solid;
  border-radius: 30px;
  padding: 6px 16px;
  font-weight: 600;
  box-shadow: 0 0 1px;
}

.hero__main {
  text-align: center;
  color: var(--very-dark-cyan-nc);
}

.hero__title {
  font-family: var(--poppins);
}

.hero__paragraph {
  width: 90%;
  line-height: 1.5;
  margin: 16px auto;
}

.cta {
  display: inline-block;
  background-color: var(--pink-pc);
  text-decoration: none;
  font-weight: 600;
  padding: 16px 30px;
  border-radius: 30px;
  color: var(--very-pale-blue-nc);
  margin-top: 16px;
}

.hero__picture {
  margin-top: 80px;
}

.hero__img {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: block;
}

.hero__numbers {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding-bottom: 100px;
}

.hero__item {
  overflow: hidden;
}

.hero__icon {
  display: block;
}

.hero__number {
  font-size: 60px;
}

.wave {
  position: absolute;
  width: 100%;
  height: 100px;
  background-repeat: no-repeat;
  background-size: 100% 100px;
}

.wave--bottom {
  left: 0;
  bottom: 0;
  background-image: var(--wave--bottom);
}

.wave--top {
  left: 0;
  top: 0;
  background-image: var(--wave--top);
}

.section {
  background-color: var(--very-pale-blue-nc);
  --padding-container:  150px 0; 
}

.section--white {
  --padding-container:  210px 0; 
  background-color: #fff;
  position: relative;
  --wave--top: url('./images/bg-section-bottom-mobile-1.svg');
  --wave--bottom: url('./images/bg-section-top-mobile-2.svg');
}

.section__container { 
  display: flex;
  flex-direction: column;
}

.section__img  {
  width: 100%;
  max-width: 350px;
  display: block;
  margin: 0 auto;
}

.section__texts { 
  margin-top: 50px;
  text-align: center;
}

.subtitle {
  font-family: var(--poppins);
  margin-bottom: 16px;
}

.question {
  text-align: center;
  position: relative;
  --padding-container: 190px 0 210px;
  --wave--top: url('./images/bg-section-bottom-mobile-2.svg');
  --wave--bottom: url('./images/bg-footer-top-mobile.svg');
}

.footer {
  background-color: var(--very-dark-cyan-nc);
}